.processPage {
    min-height: 300vh;
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#topLogos {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 10rem;
    margin: 30px 0 0 0;
}

#topLogos .DownIcon {
    margin: 0;
}

.processPage .firstH1 {
    text-align: center;
    font-size: clamp(50px, 6vw, 120px);
    font-family: CursiveFont;
    font-weight: 100;
}

.processPage .firstH3 {
    font-size: clamp(20px, 1.5vw, 40px);
    font-weight: 100;
    text-align: center;
}

.step {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    min-height: 300px;
    position: relative;
    padding: 30px;
    /* border: 1px solid; */
}

.step::after {
    content: " ";
    font-size: 25px;
    font-weight: 400;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--black);
    border: 1px solid var(--cream);
    box-shadow: 0 0 0 10px var(--black);
    color: var(--cream);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.step:nth-child(odd) {
    border-right: 3px solid;
    transform: translateX(-49.8%);
}


.step:nth-child(4)::after {
    content: "1";
}

.step:nth-child(5)::after {
    content: "2";
}

.step:nth-child(6)::after {
    content: "3";
}

.step:nth-child(7)::after {
    content: "4";
}

.step:nth-child(8)::after {
    content: "5";
}

.step:nth-child(odd)::after {
    right: 0;
    transform: translateX(50%);
}

.step:nth-child(even)::after {
    left: 0;
    transform: translateX(-50%);
}

.step:nth-child(even) {
    border-left: 3px solid;
    transform: translateX(50%);
}

.step:nth-child(even):last-of-type::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-50%);
    width: 50px;
    height: 200px;
    background-color: var(--black);
}

.step .stepInfo {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid var(--lightCream);
    background-color: #dbc5a60e;
    backdrop-filter: blur(15px);
}

.stepInfo h4 {
    color: var(--cream);
    opacity: .8;
    text-transform: uppercase;
    font-weight: 100;
}

.stepInfo h1 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 27px;
}

.stepInfo h3 {
    font-weight: 100;
    margin-bottom: 10px;
}

.stepInfo ul {
    margin: 10px 0;
    padding: 0 10px 0 16px;
}

.stepInfo ul li {
    margin: 5px 0;
    opacity: .9;
    font-weight: 100;
}

.processPage #topIcon {
    width: 100px;
    height: 40px;
    margin-top: 100px;
    border-left: 3px solid;
    padding: 0;
    transform: translateX(49.8%);
}

#topIcon .DownIcon {
    position: absolute;
    left: -26px;
    top: -60px;
    width: 50px;
    height: 50px;
    opacity: 1;
    background-color: var(--black);
    border: 1px solid var(--cream);
    z-index: 5;
}

@media (max-width: 800px) {


    .processPage .firstH3 {
        margin-bottom: 140px;
    }

    .processPage #topIcon {
        width: 85%;
        transform: translateX(0);
        border: 0;
        border-left: 3px solid var(--cream);
    }


    .step {
        width: 85%;
        padding: 15px 0;
        padding-left: 50px;
    }

    .step:nth-child(odd) {
        border: none;
        border-left: 3px solid;
        transform: translateX(0);
    }

    .step:nth-child(even) {
        transform: translateX(0);
    }

    .step:nth-child(odd)::after {
        left: 0;
        transform: translateX(-50%);
    }
}